.users {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
}

#userItems.card {
  text-align: center;
  margin: 0.5rem;
  margin-top: 1rem;
  border: 1px solid var(--secondary);
  border-radius: 50px 0 50px 0;
}

#userItems.card img {
  width: 5rem;
  border-radius: 10rem;
  margin-top: 1rem;
}

#userItems.card h2 {
  text-transform: capitalize;
  margin: 0.5rem auto;
}

#userItems.card a {
  font-size: 0.9rem;
  margin-top: 0.5rem;
  padding: 0.5rem 1rem;
}
