#navbar {
  background: var(--prime);
  color: white;
  display: flex;
  height: 65px;
  text-align: center;
  align-items: center;
  position: sticky;
  top: 0;
}

#navbar h1 {
  height: 100%;
}

#navbar i {
  color: var(--secondary);
}
