@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

:root {
  --prime: rgb(30, 52, 123);
  --prime-dark: rgb(23, 37, 82);
  --secondary: rgb(243, 67, 96);
  --secondary-dark: rgb(190, 15, 29);
  --time: 0.5s;
}

body {
  font-family: 'montserrat', sans-serif;
  box-sizing: border-box;
  list-style: none;
  width: 100%;
}

nav {
  height: 65px;
}

.navbar {
  position: sticky;
  top: 0;
  z-index: 1;
}

.link {
  font-size: 1rem;
}

#users {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 5px;
}

.rounded-circle {
  width: 100px;
}

.badge {
  font-size: 1rem;
  margin: auto 0;
}
