@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

:root {
  --prime: rgb(30, 52, 123);
  --prime-dark: rgb(23, 37, 82);
  --secondary: rgb(243, 67, 96);
  --secondary-dark: rgb(190, 15, 29);
  --time: 0.5s;
}

body {
  font-family: 'montserrat', sans-serif;
  box-sizing: border-box;
  font-size: 62.5%;
  list-style: none;
}

h1 {
  font-size: 1.5rem;
}

.btn {
  display: inline-block;
  text-decoration: none;
  font-size: 1rem;
  color: #fff;
  background-color: var(--secondary);
  padding: 1rem 3rem;
  margin: 1rem auto;
  border-radius: 50px;
  cursor: pointer;
  transition: all var(--time) ease;
  border: none;
}

.btn:hover {
  box-shadow: 0 0.2rem 0.5rem rgba(0, 0, 0, 0.3);
  background-color: var(--secondary-dark);
}

.btn:focus {
  outline: none;
}

.btn-lg {
  padding: 1rem 2rem;
}

.container {
  width: 80%;
  margin: 0 auto;
}
